.div{
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn{
   
     border: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(53, 53, 189);
    padding: 7px 20px;
    margin-bottom: 30px;
    
}